/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
  }
  
  h1, h2 {
    text-align: center;
    color: #4CAF50;
  }
  
  /* Formulário */
  form {
    max-width: 600px;
    margin: 0 auto 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  form input, form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  form button:hover {
    background-color: #45a049;
  }
  
  /* Tabela */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  table thead {
    background-color: #4CAF50;
    color: #fff;
  }
  
  table th, table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  table tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  /* Resumo Financeiro */
  #totalReceitas, #totalDespesas, #saldoFinal {
    font-weight: bold;
  }
  
  p {
    font-size: 18px;
    margin: 10px auto;
    text-align: center;
  }
  
  #saldoFinal {
    color: #4CAF50;
    font-size: 20px;
  }
  
  /* Centralizar conteúdo */
  #transactionTable, form {
    max-width: 800px;
    margin: 0 auto;
  }
  